button.nav-button {
  margin-left: 100px;
  color: white;
}

div.register-form {
  margin-left: 100px;
  h3.form-heading {
    color: red;
  }
}

input.input-element {
  margin-bottom: 20px;
}

button {
  margin-right: 10px;
}

// /html/body/app-root/app-form/div/form/div[1]
